[

{huawei_push, [
    {app_id, 123456},
    {app_secret, "huawei_app_secret"}
]},

{lager, [
    {handlers, [
        {lager_console_backend, debug},
        {lager_file_backend, [
            {file, "logs/console.log"}, {level, debug}, {size, 10485760}, {date, "$D0"}, {count, 16}
        ]},
        {lager_file_backend, [
            {file, "logs/error.log"}, {level, error}, {size, 10485760}, {date, "$D0"}, {count, 10}
        ]}
    ]},
    {crash_log, "logs/crash.log"},
    {colored, true}
]}

].
